QtProject.conf
bluetuith
calibre
dconf
fish
font-manager
htop
inkscape
vlc
pulse
systemd
abaddon
NuGet

nvim/plugged

kitty/kitty.conf.bak
kitty/current-theme.conf

mozilla
!mozilla/.mozilla/firefox/kp4ppeli.default-release/chrome/

tmux/plugins

xmonad/xmobar
xmonad/xmobar.hi
xmonad/xmobar.o
