conky.config = {
    alignment = 'top_right',
    background = true,
    border_inner_margin = 20,
    color0 = '000000',
    color1 = 'ec3a37',
    color2 = '75e44c',
    color3 = 'fad000',
    color4 = '6943ff',
    color5 = 'ff2c70',
    color6 = '80fcff',
    color7 = 'ffffff',
    color8 = 'cccccc',
    cpu_avg_samples = 2,
    default_color = 'FFFFFF',
    double_buffer = true,
    font = 'Monofur Nerd Font Mono:size=12',
    font1 = 'Go Mono For Powerline:size=11',
    draw_shades = false,
    draw_graph_borders = false,
    gap_x = 21,
    gap_y = 35,
    minimum_width = 200,
    maximum_width = 200,
    no_buffers = true,
    own_window = true,
    own_window_type = 'override',
    own_window_argb_visual = true,
    own_window_argb_value = 120,
    own_window_colour = '000000',
    own_window_title = 'conky1',
    update_interval = 1.0,
    use_xft = true,
}
conky.text = [[

${voffset 3}${alignr 5}${font Monofur Nerd Font:size=44}${color7}${time %l:%M}${font Monofur Ned Font:size=14}  ${time %p}$font$color
${voffset 5}${alignr 5}${color8}${voffset 2}${font Monofur Nerd Font:size=14}${execi 60 date +"%A %B %d" | awk '{print tolower($0)}'}$font$color
${voffset 16}${color5}Hostname$color ${goto 110}$nodename
${color5}Kernel$color ${goto 110}$kernel
${color5}Uptime$color ${goto 110}$uptime





















































]]
