conky.config = {
    alignment = 'top_right',
    background = true,
    border_inner_margin = 20,
    color2 = '329932',
    color3 = 'FFA500',
    color4 = 'FFFFFF',
    color5 = 'FFFFFF',
    color6 = 'FFFFFF',
    cpu_avg_samples = 2,
    default_color = '808080',
    double_buffer = true,
    font = 'Inconsolata Nerd Font Mono:size=12',
    font1 = 'Go Mono For Powerline:size=11',
    draw_shades = false,
    draw_graph_borders = false,
    gap_x = 25,
    gap_y = 100,
    minimum_width = 200,
    maximum_width = 320,
    no_buffers = true,
    own_window = true,
    own_window_type = 'override',
    own_window_argb_visual = true,
    own_window_argb_value = 150,
    own_window_colour = '000000',
    own_window_title = 'conky1',
    update_interval = 1.0,
    use_xft = true,
}
conky.text = [[
${font1}${color1}CPU$color$font $alignr$cpu%
${color}${cpugraph cpu1 50 FF0000 FFA500 }

${font1}${color1}RAM$color$font $alignr$memperc%
${memgraph 50 FF0000 FFA500 }

${font1}${color1}Processes$color$font
${color3}${goto 150}pid${goto 220}cpu${goto 280}mem$color
${top name 1} ${goto 140}${top pid 1}${goto 200}${top cpu 1}${goto 260}${top mem 1}
${top name 2} ${goto 140}${top pid 2}${goto 200}${top cpu 2}${goto 260}${top mem 2}
${top name 3} ${goto 140}${top pid 3}${goto 200}${top cpu 3}${goto 260}${top mem 3}
${top name 4} ${goto 140}${top pid 4}${goto 200}${top cpu 4}${goto 260}${top mem 4}

${font1}${color1}Filesystems $color$font

${goto 20}/ ${goto 170}${color2}${fs_bar 5 /} $color
$alignr ${fs_used /} / ${fs_size /}

${goto 20}/home ${goto 170}${color2}${fs_bar 5 /home} $color
$alignr ${fs_used /home} / ${fs_size /home}
${if_mounted /media/Alpaca}
${goto 20}/media/Alpaca ${goto 170}${color2}${fs_bar 5 /media/Alpaca} $color
$alignr ${fs_used /media/Alpaca} / ${fs_size /media/Alpaca}
$endif ${if_mounted /media/Alpaca2}
${goto 20}/media/Alpaca2 ${goto 170}${color2}${fs_bar 5 /media/Alpaca2} $color
$alignr ${fs_used /media/Alpaca2} / ${fs_size /media/Alpaca2}
$endif
${font1}${color1}Wifi$font$color ${alignr 20}${color3}${if_up wlp58s0}${wireless_essid wlp58s0}$color$endif

${color5} ${downspeedf wlp58s0} kbps ${alignr 5}${color6} ${upspeedf wlp58s0} kbps $color
${downspeedgraph wlp58s0 50,150} ${goto 165}${downspeedgraph wlp58s0 50,150}
Local IP${alignr 10}${color2}${addr wlp58s0}$color
${if_match "${exec internet_status}" == "Connected"}Public IP ${alignr 10}${color2}${exec curl ifconfig.me}$color$endif
]]
